<% layout("/layouts/boilerplate")%>
<body>
    <h2>All Listing</h2>
   <!-- <form action="/listings/new" method="get">
    <button>Create New Listing</button>
   </form> -->
   
   <div class="row  row-cols-xl-3 row-cols-lg-3 row-cols-md-3 row-cols-sm-2  row-cols-xxs-1">
    <% for(let listing of allListing){ %>
        <a href="/listings/<%=listing._id%>" class="listing-link">
        <div class="listing-card col " >
         <img src="<%=listing.image%>" class="card-img-top" alt="..."  style="height: 20rem;">
         <div class="card-img-overlay"></div>
         <div class="card-body">
           <p class="card-text">
            <b>  <%= listing.title %> </b> <br> 
              &#8377; <%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %> /night

         </p>
         </div>
       </div>
       </a>
       <% } %>
   </div>
</body>