<%layout("/layouts/boilerplate")%>

<div class="row mt-3">
    <div class="col-6 offset-3">
        <h2 class="col-8 offset-2">LogIn on wanderlust </h2>
        <form action="/login" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-lable">Username</label>
            <input type="text" name="username" id="" class="form-control" required>
            <div class="valid-feedback">Looks Good</div>
            <div class="invalid-feedback">username required</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-lable">Password</label>
                <input type="password" name="password" id="" class="form-control" required>
                <div class="valid-feedback">Looks Good</div>
                <div class="invalid-feedback">password required</div>
            </div>
            <button class="btn btn-outline-success">login</button>
        </form>
    
    </div>
</div>